#cabecera{
    background-color: blue;
}
a{
    text-decoration: none;
}
h2{
    color:blue;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.prod{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
}
.container{
    background-color:rgb(21, 113, 119);
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
}
#capa1{
    background-color: white;
    width:260px;
    height: 330px;
    position: absolute;
    top: 100px;
    left: 95px;
    font-size: 15px;

}
#capa2{
    background-color: white;
    width:260px;
    height: 330px;
    position: absolute;
    top:100px;
    left: 400px;
}
#capa3{
    background-color: white;
    width:260px;
    height: 330px;
    position:absolute;
    top:100px;
    right: 390px;
}
#capa4{
    background-color: white;
    width: 240px;
    height: 300px;
    position: absolute;
    top:100px;
    right: 130px;
}
#capa5{
    background-color: white;
    width: 240px;
    height: 200px;
    position: absolute;
    bottom: 30px;
    left: 95px;
}
#capa6{
    background-color: white;
    width: 240px;
    height: 200px;
    position: absolute;
    bottom: 30px;
    left: 370px;

}
#capa7{
    background-color: white;
    width: 240px;
    height: 200px;
    position: absolute;
    bottom:30px;
    right: 450px;

}
#capa8{
    background-color: white;
    width:240px;
    height: 200px;
    position: absolute;
    right: 170px;
    bottom:30px;

}

